* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.main {
	width: 100%;
	height: 100%;
}

.sidebar {
	background-color: rgb(251, 171, 51);
	height: 100%;
	width: 160px;
	position: fixed;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	z-index: 1;
	top: 0;
	left: 0;
}

.logo {
	width: 100%;
	height: 100px;
	margin-top: 10px;
}

.logo div{
	width: 100%;
	height: 75px;
	margin-bottom: 8px;
}

.logo div img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.logo h5{
	text-align: center;
	font-weight: bold;
}

#main-page-link{
	text-decoration: none;
	color: #343a40;
}

#main-page-link:hover{
	color: #222;
}

hr {
	background-color: rgb(229, 139, 4);
}

.content{
	margin-left: 175px;
	height: 100%;
}

.menu{
	position: relative;
	background-color: rgba(255,255,255, .1);
	margin-top: 10px;
	text-decoration: none;
	color: #343a40;
	cursor: pointer;
}

.main-link:hover, .link:hover, .verify-link:hover{
	color: #222;
}

.wip{
	background-color: rgba(0,0,0, .2);
}

.wip:hover{
	background-color: rgba(0,0,0, .4);
	cursor: not-allowed;
}


i{
	position: absolute;
	right: 10px;
	top: 20px;
	transform: translateY(-50%);
}



.article{
	border-radius: 8px;
	border: 1px solid rgba(100,100,100,.4);
	padding: 8px 12px 0px 12px;
	background-color: rgba(255,255,255,.8);
}

.accordion-button{
	text-decoration: none;
	background-color: #FBB448FF;
	color: #343a40;

	transition: background-color .2s ease-in-out;
}

.accordion-button:hover{
	color: #222;
	text-decoration: none;
	background-color: rgb(250, 164, 35);
	transition: background-color .2s ease-in-out;
}


#hash-main, #md5-button, #sha-button, #bcrypt-button, #verify-button{
	background-color: rgb(251, 171, 51);
	font-weight: 700;
	color: #343a40;
}

#hash-main:hover, #md5-button:hover, #sha-button:hover, #bcrypt-button:hover, #verify-button:hover{
	color: #222;
	background-color: rgb(249, 151, 5);
}

#quick-hash:focus, #hash-method:focus, #text-to-hash-md5:focus, #text-to-hash-sha:focus, #text-to-hash-bcrypt:focus, #salt-bcrypt:focus, #verify-text:focus, #verify-hash:focus{
	border: 0px solid transparent;
	box-shadow: 0px 0px 5px 2px rgb(251, 171, 51);
}

#hash-main:focus, #md5-button:focus, #historic-button:focus, #most-used-button:focus, #bcrypt-button:focus, #sha-button:focus{
	box-shadow: 0px 0px 0px 0px transparent;
}

.ellipsis{
	width: 180px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.button_copy{
	background-color: rgb(251, 171, 51);
	transition: background-color .2s ease-in-out;
	cursor: pointer
}

.button_copy:hover{
	background-color: rgb(250, 164, 35);
	transition: background-color .2s ease-in-out;
}

.copied{
	display: none;
	filter: opacity(0%);
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .6);
	transform: translate(-15px, -15px);
}

.copied::after{
	content: "Copied";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.element_historic{
	position: relative;
	padding: 15px;
}
