<h1 class="text-center mt-2">Bcrypt</h1>

<p class="text-justify" style="font-size: 14px;">Bcrypt is a password hashing function designed by Niels Provos and David Mazières, based on the Blowfish cipher, and presented at USENIX in 1999 ... <a href="#" id="bcrypt-learn">Learn more</a></p>

<hr class="mx-3" style="background-color: #aaa">

<div class="form-group">
	<label for="text-to-hash-bcrypt">Enter something to hash :</label>
	<textarea class="form-control" id="text-to-hash-bcrypt" style="min-height: 65px; max-height: 65px; height: 65px"></textarea>
</div>

<div class="form-group">
	<label for="text-to-hash-bcrypt">Salt :</label>
	<input type="number" class="form-control" id="salt-bcrypt" placeholder="Default: 10" min="10" max="20">
	<span class="text-muted" style="font-size: 13px">Be careful with the salt number. The bigger the number is, the longer it will be. 10 is the default salt, but we recommend you to use 12</span>
</div>

<button class="btn btn-block font-weight-bold mb-3" id="bcrypt-button">
	Hash
</button>

<script>
	
	
	document.getElementById("bcrypt-learn").addEventListener("click", () => {
		shell.openExternal("https://en.wikipedia.org/wiki/Bcrypt")
	})

	if(typeof bcrypt_button === 'undefined') {
		let bcrypt_button = document.getElementById("bcrypt-button")
		bcrypt_button.addEventListener("click", () => {

		console.log("click bcrypt")

		let data = document.getElementById("text-to-hash-bcrypt")
		let number = document.getElementById("salt-bcrypt").value

		if(number == ""){
			number = 10
		}


		if(parseInt(number) < 10 || parseInt(number) > 15){
			document.getElementById("salt-bcrypt").classList.add("is-invalid")
		}else{
			let hash = {
				text: data.value,
				salt: parseInt(number)
			}
			ipc.send("hash-bcrypt", hash)
			ipc.once("hash-bcrypt-reply", (evt, args) => {
				data.value = args
			})
		}
		})

		document.getElementById("salt-bcrypt").addEventListener("change", () => {
		document.getElementById("salt-bcrypt").classList.remove("is-invalid")
		})
	}

	



</script>