<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>HashTag</title>

	<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
	

	<script src="./node_modules/popper.js/dist/popper.js"></script>
	<script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
	
	<script src="https://kit.fontawesome.com/7796a3bf49.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="style.css">
</head>
<body>
	
	<div class="main">
		
		<div class="sidebar text-white">

			<div class="logo text-dark mb-3">
				<div>
					<img src="src/icon.png" alt="app logo">
				</div>
				<h5>HashTag</h5>
			</div>


			<div class="p-2 font-weight-bold menu" >
				<div class="main-link" data-toggle="collapse" href="#MDExample" role="button" aria-expanded="false" aria-controls="MDExample">
					MD<i class="fas fa-caret-down"></i>
				</div>
				
				<div class="collapse text-dark" id="MDExample">
					<hr class="mt-2">
					<p><a class="pl-3" id="md1">MD1</a></p>
					<p><a class="pl-3" id="md2">MD2</a></p>
					<p><a class="pl-3" id="md3">MD3</a></p>
					<p><a class="pl-3" id="md4">MD4</a></p>
					<p><a class="pl-3" id="md5">MD5</a></p>
				</div>
			</div>

			

			<div class="p-2 font-weight-bold menu" >
				<div class="main-link" data-toggle="collapse" href="#SHAExample" role="button" aria-expanded="false" aria-controls="SHAExample">
					SHA<i class="fas fa-caret-down"></i>
				</div>
				
				<div class="collapse text-dark" id="SHAExample">
					<hr class="mt-2">
					<p><a class="pl-3" id="sha0">SHA-0</a></p>
					<p><a class="pl-3" id="sha1">SHA-1</a></p>
					<p><a class="pl-3" id="sha2">SHA-256</a></p>
				</div>
			</div>

			<div class="p-2 font-weight-bold menu" id="bcrypt">
				Bcrypt
			</div>


		</div>

		<div class="content" id="content">
			<!-- main content. We inject html with ajax here. this is like the root div in react -->
			
		</div>



	</div>


	<script>

		window.$ = window.jQuery = require('jquery');
		require('bootstrap');
    	require('popper.js');

		$(document).ready(function(){
			$("#button").click(function(){
				$.ajax({
					url: "test.html",
					context: document.body,
					success: function(response){
						$('#content').html(response);
					}
				});
			});
		});


	</script>

</body>
</html>