<div style="position: relative" class="mt-2">
	<div class="row justify-content-center">
		<div style="width: 100vh; height: 100vh; object-fit: cover; position: fixed">
			<img src="../src/main.png" style="width: 100%; height: 100%; opacity: .1; filter:grayscale(100%);">
		</div>
	</div>

	<div style="position: absolute; width: 100%;">
		<h1 class="text-center">HashTag</h1>

		<div class="article" style="font-size: 14px">
			<p class="text-justify">HashTag is an electron that allows you to encrypt multiple things. <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Learn more</a></p>
			<div class="collapse" id="collapseExample">
				<p class="text-justify">You can encrypt those things using hash methods or encryption methods.</p>
				<p class="text-justify">Last but not least, HashTag doesn't share your input, it just convert your input into whatever you want. We just provide an historic service for our users in order to improve your productivity.</p>
				<p class="text-justify">Finally, we would like to thank you for using our service.</p>
			</div>
		</div>



		<div class="accordion mt-3" id="accordion">
			<div class="card rounded">
				<button class="btn collapsed m-0 p-0 rounded" id="historic-button" type="button" data-toggle="collapse" data-target="#historic-collapse" aria-expanded="false" aria-controls="historic-collapse">
					<div class="card-header p-0 accordion-button rounded" id="historic">
						<h6 class="m-0 p-3 text-left">Historic<i class="material-icons mt-2 mr-2" id="icon-historic">keyboard_arrow_down</i></h6>
					</div>
				</button>
				<div id="historic-collapse" class="collapse" aria-labelledby="historic-collapse" data-parent="#accordion">
					<div class="card-body p-0" id="historic-content"></div>
				</div>
			</div>

			<div class="card rounded mt-2">
				<button class="btn collapsed m-0 p-0 rounded" id="most-used-button" type="button" data-toggle="collapse" data-target="#most-used-collapse" aria-expanded="false" aria-controls="most-used-collapse">
					<div class="card-header p-0 accordion-button rounded" id="most-used">
						<h6 class="m-0 p-3 text-left">Most used algorithms<i class="material-icons mt-2 mr-2" id="icon-most-used">keyboard_arrow_down</i></h6>
					</div>
				</button>
				<div id="most-used-collapse" class="collapse" aria-labelledby="most-used-collapse" data-parent="#accordion">
					<div class="card-body" id="most-used-content">
						<div class="d-flex">
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="form-row mt-3 mx-0 px-0">

			<div class="form-group col-6" style="transform: translateX(-5px);">
				<input type="text" id="quick-hash" class="form-control" style="font-size: 16px;" placeholder="Quick hash :">
			</div>
			<div class="form-group col-4">
				<select class="form-control" id="hash-method">
					<option value="md5">MD5</option>
					<option value="bcrypt">Bcrypt</option>
					<option value="sha256">SHA256</option>
				</select>
				<span class="text-muted pl-4" style="font-size: 13px" id="default-value-bcrypt">Default : 12</span>
			</div> 
			<div class="form-group col-2">
				<button class="btn" id="hash-main">Hash</button>
			</div>
		</div>
		


		

	</div>
</div>



<script>

	

	
	
	

	if(typeof copyHash === "undefined"){
		const copyHash = (self) => {
			const el = document.createElement('textarea');
			el.value = self.getAttribute("hash");
			document.body.appendChild(el);
			el.select();
			document.execCommand('copy');
			document.body.removeChild(el);
			
			
			let parent = self.parentNode
			let child = parent.childNodes[3]
			child.style.display = "inline"
			child.style.filter = "opacity(100%)"
			setTimeout(() => {
				child.style.filter = "opacity(0%)"
				child.style.display = "none"
			}, 1000);
			
		}
	}

	$(document).ready(() => {
		ipc.send("get-stats")
		ipc.once("get-stats-reply", (evt, args) => {
			let historic = document.getElementById("historic-content")
			let most_used = document.getElementById("most-used-content")
			let div
			let span_text
			let inner_span
			let span_method
			let link
			let hr
			let copied
			args.historic.forEach(el => {

				div = document.createElement("div")
				div.setAttribute("class", "d-flex justify-content-between element_historic")

				span_text = document.createElement("span")
				span_text.setAttribute("class", "p-2 ellipsis font-weight-bold")
				inner_span = document.createTextNode(el.text)
				span_text.appendChild(inner_span)

				span_method = document.createElement("span")
				span_method.setAttribute("class", "p-2 text-muted")
				inner_span = document.createTextNode(el.type)
				span_method.appendChild(inner_span)

				link = document.createElement("a")
				link.setAttribute("class", "p-2 button_copy rounded font-weight-bold")
				link.setAttribute("hash", el.hash)
				link.setAttribute("onclick", "copyHash(this);")
				inner_span = document.createTextNode("Copy")
				link.appendChild(inner_span)

				copied = document.createElement("div")
				copied.setAttribute("class", "copied")


				div.appendChild(span_text)
				div.appendChild(span_method)
				div.appendChild(link)
				div.appendChild(copied)

				hr = document.createElement("hr")
				hr.setAttribute("class", "bg-secondary p-0 m-0")
				hr.setAttribute("style", "filter: opacity(30%);")

				historic.appendChild(div)
				historic.appendChild(hr)
			})

			let index = 1;
			let rank;
			args.most_used.forEach(el => {
				div = document.createElement("div")
				div.setAttribute("class", "d-flex justify-content-between element_historic")

				span_text = document.createElement("span")
				span_text.setAttribute("class", "p-2 ellipsis font-weight-bold")
				inner_span = document.createTextNode(el.id)
				span_text.appendChild(inner_span)

				span_method = document.createElement("span")
				span_method.setAttribute("class", "p-2 text-muted")
				rank = (index === 1) ? index+"st" : ((index === 2) ? index+"nd" : index+"rd")
				inner_span = document.createTextNode(rank)
				span_method.appendChild(inner_span)

				index++

				div.appendChild(span_text)
				div.appendChild(span_method)

				hr = document.createElement("hr")
				hr.setAttribute("class", "bg-secondary p-0 m-0")
				hr.setAttribute("style", "filter: opacity(30%);")

				most_used.appendChild(div)
				most_used.appendChild(hr)
				
			})
		})
	})


	if(typeof historic_button === "undefined"){
		let historic_button = document.getElementById("historic-button")
		historic_button.addEventListener("click", () => {
			let x = document.getElementById("icon-historic")
			if(x.innerHTML === "keyboard_arrow_down"){
				x.innerHTML = "keyboard_arrow_up"
			}else{
				x.innerHTML = "keyboard_arrow_down"
			}
		})
	}
	
	if(typeof most_used_button === "undefined"){
		let most_used_button = document.getElementById("most-used-button")
		most_used_button.addEventListener("click", () => {
			let x = document.getElementById("icon-most-used")
			if(x.innerHTML === "keyboard_arrow_down"){
				x.innerHTML = "keyboard_arrow_up"
			}else{
				x.innerHTML = "keyboard_arrow_down"
			}
		})
	}

	if(typeof hash_main_button === "undefined"){

		let hash_main_select = "md5" //default value

		let data = ""

		let hash_main_button = document.getElementById("hash-main")

		let select_hash = document.getElementById("hash-method")

		if(hash_main_select == "bcrypt") {
			document.getElementById("default-value-bcrypt").classList.remove("d-none")
		} else {
			document.getElementById("default-value-bcrypt").classList.add("d-none")
		}

		select_hash.addEventListener("change", () => {
			hash_main_select = select_hash[select_hash.selectedIndex].value

			if(hash_main_select == "bcrypt") {
				document.getElementById("default-value-bcrypt").classList.remove("d-none")
			} else {
				document.getElementById("default-value-bcrypt").classList.add("d-none")
			}
		})


		hash_main_button.addEventListener("click", () => {
			
			
			switch (hash_main_select) {
				case "md5":
					data = document.getElementById("quick-hash")
					ipc.send("hash-md5", data.value)
					ipc.once("hash-md5-reply", (evt, args) => {
						data.value = args
					})
					break;
			
				case "bcrypt":
					data = document.getElementById("quick-hash")
					let hash = {
						text: data.value,
						salt: 12
					}
					ipc.send("hash-bcrypt", hash)
					ipc.once("hash-bcrypt-reply", (evt, args) => {
						data.value = args
					})
					break;

				case "sha256":
					data = document.getElementById("quick-hash")
					ipc.send("hash-sha", data.value)
					ipc.once("hash-sha-reply", (evt, args) => {
						data.value = args
					})
					break;
			
			
			}

			
			
		})
	}

	
	
</script>

