<h1 class="text-center mt-2">Verify</h1>

<p class="text-justify" style="font-size: 14px;">This software allows you to verify if a hash is identical to a plain text message.</p>

<hr class="mx-3" style="background-color: #aaa">

<div class="form-group">
	<label for="verify-text">Enter the text to verify :</label>
	<textarea class="form-control" id="verify-text" style="min-height: 55px; max-height: 55px; height: 55px"></textarea>
</div>

<div class="form-group">
	<label for="verify-hash">Enter the corresponding hash : </label>
	<textarea class="form-control" id="verify-hash" style="min-height: 55px; max-height: 55px; height: 55px"></textarea>
</div>

<button class="btn btn-block font-weight-bold mb-3" id="verify-button">
	Verify
</button>

<script>
	


	if(typeof verify_button === 'undefined') {
		let verify_button = document.getElementById("verify-button")
		verify_button.addEventListener("click", () => {
            let data = {
                text: document.getElementById("verify-text").value,
                hash: document.getElementById("verify-hash").value
            }
			ipc.send("verify", data)
			ipc.once("verify-reply", (evt, args) => {
				if(args.result){
                    swal(args.type, "It's a match", "success")
                }else{
                    swal(args.type, "F**k, it doesn't match", "error")
                }
			})
		})
	}
	

</script>